html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url(../images/wallpage.jpg) center repeat;
    
}

.back {
    font-size: 2rem;
    text-shadow: 0px 1px black;
    background-color: rgb(43, 49, 51);
    padding: 10px;
    opacity: 0.9;
}

.nav-around > ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.nav-around > ul > li {
    float: left;
    padding: -1px 5px -1px 5px;
}

.nav-around > ul > li a {
    display: block;
    color: rgb(43, 49, 51);
    text-decoration: none;
    padding: 15px;
}

.active  {
    text-decoration: underline;
    text-decoration-color: #5D9CEC;
    color: rgb(43, 49, 51);
    box-shadow: 0px 0px 2px -2px rgb(33,33,33); 
}

.nav-around > ul > li:hover {
    background-color: #5D9CEC;
    box-shadow: 0px 5px 5px -2px rgb(33,33,33);
}


#logo{
    width: 160px;
    background: gold;
    margin: auto;
    margin-top: 10px;
    border-radius: 20%;
    box-shadow: 0px 5px 2px -2px rgb(33,33,33); 
}

.title {
    font-size: 1em;
    margin: 10px;
}

#panelback {
    height: 500px;
    background-color: rgb(238,238,238);
    overflow-y:auto;

}

.logout {
    color: rgb(245,245,245);
}


.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    line-height: 60px;
    background: rgb(189,189,189);
    color: rgb(245,245,245);
    text-align: center;
}

.simple-shadow {
    box-shadow: 0px 5px 5px -2px rgb(33,33,33);
}

#login-form {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(238,238,238);
    
}

#register-form {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(238,238,238);
    margin-bottom: 100px;
    
}

#about-project-desc {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(79, 229, 252);
}

#box {
    background-color: rgb(189,189,189);
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 5px 2px -2px rgb(33,33,33); 
}

#box-image {

    width: 200px;
    height: 250px;
    margin: 5px;
    display: block;
    margin: auto;
    border: 2px rgb(189,189,189);
}

#max-btn {
    width: 100%;
}

#auction-info {
    color: wheat;
    background-color: rgb(43, 49, 51);
    padding: 10px;
    opacity: 0.9;

}